.header__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    margin: 12px 10px;
    border-radius: 8px;
    background: #121212;
}

.header__navigation .navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__navigation .arrow-left {
    margin-right: 1.25rem;
}

.arrow-left,
.arrow-right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: #131313;
    background-color: rgba(0, 0, 0, .7);
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.header__login {
    display: flex;
    align-items: center;
}

.header__search {
    display: flex;
    align-items: center;
    /* max-width: 370px; */
    width: 100%;
    margin: 0 8px;
    flex-grow: 1;
}

.header__search img {
    width: 16px;
    height: 16px;
    margin-left: 20px;
    z-index: 2;
    margin-right: -40px;
}

.header__search input {
    background: transparent;
    border: none;
    padding: 0 12px 0 40px;
    margin-left: 10px;
    color: #FFFFFF;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    outline: none;
    width: 100%;
    max-width: 370px;
    height: 48px;
    border-radius: 500px;
    border: 1px solid transparent;
    transition: 300ms all ease-in-out;
    background-color: #242424;
    z-index: 1;
}

.header__search input:hover,
.header__search input:focus {
    border: 1px solid #FFFFFF;
}

.header__login .subscribe {
    color: #a7a7a7;
    font-size: 16px;
    font-weight: 700;
    background-color: transparent;
    margin-right: 32px;
    transition: 300ms all ease-in-out;
    white-space: nowrap;
    border: none;
}

.header__login .subscribe:hover {
    transform: scale(1.04);
    color: #FFFFFF;
}

.header__login .login {
    width: 100px;
    height: 48px;
    color: #000000;
    font-size: 16px;
    font-weight: 700;
    border-radius: 40px;
    transition: 300ms all ease-in-out;
}

.header__login .login:hover {
    transform: scale(1.04);
}